[general]
connectionTimeout=10000
readTimeout=30000
imagesCacheSize=10
imagesTempDirectory=/tmp
audioTempDirectory=/tmp
downloadedImagesPrefix=pbcBotImage_

[redis]
host=localhost
port=6379

[google]
key=
cx=
resultsPerRequest=10
imagesSize=large
fileType=jpg

[flickr]
key=

[open-weather-map]
key=
units=metric

[logging]
enabled=false
outputFile=pbc_chat_log.txt

[hadoop]
coreSitePath=/etc/hadoop/conf/core-site.xml
