[general]
connectionTimeout=10000
readTimeout=30000
imagesCacheSize=10
imagesTempDirectory=/tmp
downloadedImagesPrefix=pbcBotImage_

[google]
key=
cx=
resultsPerRequest=10
imagesSize=large
fileType=jpg

[flickr]
key=

[open-weather-map]
key=
units=metric
